body {
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(0, 174, 255, 1) 3%,
    rgb(143, 144, 148) 100%
  );
}

.Home {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-image: url(../img/tech-stock.jpg);
}

.exec-summary-container,
.proposed-solution-container,
.price-container {
  margin-bottom: 20px;
}

[class$="-title"] {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
  text-align: center;
}
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

textarea:hover {
  border: 1px solid #333;
}

button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

h3 {
  margin-top: 20px;
  color: #333;
}

/* Fancy Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 1s ease;
}

/* Tech Exhibition Theme */
.exec-summary-container,
.proposed-solution-container,
.price-container {
  background-color: #3498db;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

button {
  background-color: #2ecc71;
}

button:hover {
  background-color: #27ae60;
}

textarea {
  background-color: #ecf0f1;
  color: #333;
}

[class$="-result"] {
  /* Your specific styles for elements ending with -result */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

.copy-to-clipboard-button {
  display: grid;
  color: transparent;
}
